body {
    background-image: url("./images/background.png");
    background-size: cover;
    font-family: sans-serif;
    padding: 20px;
}

div {
    width: 80%;
    background-color: white;
    margin: auto;
    padding: 20px;
    max-width: 500px;
}

h1 {
    font-size: 40px;
    text-align: center;
    margin: 0px;
    max-width: 100%;
}

h2 {
    text-align: center;
    padding: 10px;
    margin: 0px;
}

h3 {
    font-size: 20px;
    text-align: center;
    margin-top: 0;
}

h4 {
    text-align: left;
    margin-top: 0;
    padding-bottom: 10px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

fieldset {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-block-end: 0px;
}

ul, ol {
    padding-left: 20px;
    padding-right: 20px;
}

li {
    line-height: 1.5;
    margin: 15px;
}

p {
    line-height: 1.5;
    margin: 15px;
    padding: 0px;
}

a {
    color: #1F6E8C;
}

a:visited {
    color: #1F6E8C;
}

a:hover {
    color: #2E8A99;
}

a:active {
    color: #0E2954;
}